# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Log files
*.log

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/